attrs==21.2.0
certifi==2022.12.7
chardet==4.0.0
Deprecated==1.2.12
idna==3.2
importlib-metadata==4.6.0
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
progressbar2==3.53.1
pymisp==2.4.144
pyrsistent==0.18.0
python-dateutil==2.8.1
python-utils==2.5.6
PyYAML==5.4.1
requests==2.25.1
sigmatools==0.19.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
wrapt==1.12.1
zipp==3.5.0
