<dashboard>
  <!-- A title for the dashboard -->
  <label>SIGMA Rules Dashboard</label>
  
  <!-- Provide a description -->
  <description>SIGMA Rules converted to splunk App - dump {{ now }}</description>

   <fieldset submitButton="false">
    <input type="time" token="timepicker1">
      <label></label>
      <default>
        <earliest>-4h</earliest>
        <latest>now</latest>
      </default>
    </input>
  </fieldset>

  {% for searchcase in searchcase_list %}

  <row>

    <panel>
        <title>{{ searchcase.title.replace('&', '&amp;') }}</title>
        <html> <strong>Description:</strong> {{ searchcase.description_esc }} <br/>
               <strong>References:</strong> {{ searchcase.references_esc }} <br/>
               <strong>Sigma rule:</strong> {{ searchcase.detection_esc }} <br/>
               <strong>Splunk search:</strong> {{ searchcase.rule }} <br/>
        </html>

      <table>


        <!-- A search powers the panel -->
        <search>
          <query>
          {{ searchcase.rule }}
          </query>
          <!-- Specify a time range for the search -->
          <earliest>$timepicker1.earliest$</earliest>
          <latest>$timepicker1.latest$</latest>
        </search>

        <!-- Use options to further define how to display result data -->
        <option name="wrap">true</option>
        <option name="rowNumbers">true</option>
      </table>

    </panel>
  </row>

  {% endfor %}

</dashboard>
